<a href="https://colab.research.google.com/github/harshadsavle/practice/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
niket=pd.DataFrame({'2018':['95','100','105','110','115'],'2019':['58','62','66','70','78']},index=['gandu','lawdya','chutya','jhatu','madarchod'])

In [ ]:
niket

          2018 2019
gandu       95   58
lawdya     100   62
chutya     105   66
jhatu      110   70
madarchod  115   78

In [ ]:
time_table=pd.DataFrame({'monday':['marathi','hindi','geography','history','mathematics','english','sport'],'tuesday':['hindi','off','english','political science','marathi','pt','off'],'wednsday':['marathi','hindi','geography','history','mathematics','english','sport'],'friday':['marathi','hindi','geography','history','mathematics','english','sport'],'saturday':['marathi','hindi','geography','history','mathematics','english','sport']},index=['1','2','3','4','5','6','7'])

In [ ]:
time_table

        monday            tuesday     wednsday       friday     saturday
1      marathi              hindi      marathi      marathi      marathi
2        hindi                off        hindi        hindi        hindi
3    geography            english    geography    geography    geography
4      history  political science      history      history      history
5  mathematics            marathi  mathematics  mathematics  mathematics
6      english                 pt      english      english      english
7        sport                off        sport        sport        sport

In [ ]:
time_table.set_index('monday')

                       tuesday     wednsday       friday     saturday
monday
marathi                  hindi      marathi      marathi      marathi
hindi                      off        hindi        hindi        hindi
geography              english    geography    geography    geography
history      political science      history      history      history
mathematics            marathi  mathematics  mathematics  mathematics
english                     pt      english      english      english
sport                      off        sport        sport        sport

In [ ]:
new=pd.DataFrame([time_table],index=['ek','done','teen','chaar','paach','saha','saat'])
new

ValueError: ignored

In [ ]:
time_table['new index']=['ek','done','teen','chaar','paach','saha','saat']
time_table

,monday,tuesday,wednsday,friday,saturday,new index
1,marathi,hindi,marathi,marathi,marathi,ek
2,hindi,off,hindi,hindi,hindi,done
3,geography,english,geography,geography,geography,teen
4,history,political science,history,history,history,chaar
5,mathematics,marathi,mathematics,mathematics,mathematics,paach
6,english,pt,english,english,english,saha
7,sport,off,sport,sport,sport,saat

In [ ]:
time_table.set_index(['new index'])

,monday,tuesday,wednsday,friday,saturday
new index,,,,,
ek,marathi,hindi,marathi,marathi,marathi
done,hindi,off,hindi,hindi,hindi
teen,geography,english,geography,geography,geography
chaar,history,political science,history,history,history
paach,mathematics,marathi,mathematics,mathematics,mathematics
saha,english,pt,english,english,english
saat,sport,off,sport,sport,sport

In [ ]:
s=pd.Series([12,13,14,15,16,17,18])
time_table.set_index([s,s**2],inplace=True)
time_table

,,monday,tuesday,wednsday,friday,saturday,new index
12,144,marathi,hindi,marathi,marathi,marathi,ek
13,169,hindi,off,hindi,hindi,hindi,done
14,196,geography,english,geography,geography,geography,teen
15,225,history,political science,history,history,history,chaar
16,256,mathematics,marathi,mathematics,mathematics,mathematics,paach
17,289,english,pt,english,english,english,saha
18,324,sport,off,sport,sport,sport,saat

In [ ]:
sopya=pd.DataFrame(np.random.rand(15,2))
# pd.DataFrame(np.random.rand(20,5))
sopya

           0         1
0   0.363405  0.055737
1   0.961149  0.904392
2   0.960367  0.535666
3   0.220745  0.355561
4   0.260819  0.014382
5   0.691806  0.472517
6   0.975811  0.721943
7   0.036215  0.305679
8   0.774498  0.611225
9   0.758343  0.631469
10  0.441358  0.782935
11  0.301975  0.278791
12  0.079139  0.955380
13  0.694385  0.296592
14  0.360349  0.371098

In [ ]:
sopya

           0         1
0   0.363405  0.055737
1   0.961149  0.904392
2   0.960367  0.535666
3   0.220745  0.355561
4   0.260819  0.014382
5   0.691806  0.472517
6   0.975811  0.721943
7   0.036215  0.305679
8   0.774498  0.611225
9   0.758343  0.631469
10  0.441358  0.782935
11  0.301975  0.278791
12  0.079139  0.955380
13  0.694385  0.296592
14  0.360349  0.371098

In [ ]:
sopya.index=pd.date_range('1/1/2021',periods=sopya.shape[0])






sopya.index=pd.date_range('1/1/2022',periods=sopya.shape[4])
sopya

IndexError: ignored

In [ ]:
sopya['new']=np.random.randint(1, 6, sopya.shape[0])
# df1['new'] = np.random.randint(1, 6, df1.shape[0])

In [ ]:
sopya.value_counts(dropna=False)

0         1         new
0.036215  0.305679  1      1
0.079139  0.955380  2      1
0.220745  0.355561  4      1
0.260819  0.014382  1      1
0.301975  0.278791  5      1
0.360349  0.371098  2      1
0.363405  0.055737  4      1
0.441358  0.782935  5      1
0.691806  0.472517  3      1
0.694385  0.296592  1      1
0.758343  0.631469  5      1
0.774498  0.611225  3      1
0.960367  0.535666  2      1
0.961149  0.904392  4      1
0.975811  0.721943  2      1
dtype: int64

In [ ]:
sopya.apply(pd.Series.value_counts)

            0    1  new
0.014382  NaN  1.0  NaN
0.036215  1.0  NaN  NaN
0.055737  NaN  1.0  NaN
0.079139  1.0  NaN  NaN
0.220745  1.0  NaN  NaN
0.260819  1.0  NaN  NaN
0.278791  NaN  1.0  NaN
0.296592  NaN  1.0  NaN
0.301975  1.0  NaN  NaN
0.305679  NaN  1.0  NaN
0.355561  NaN  1.0  NaN
0.360349  1.0  NaN  NaN
0.363405  1.0  NaN  NaN
0.371098  NaN  1.0  NaN
0.441358  1.0  NaN  NaN
0.472517  NaN  1.0  NaN
0.535666  NaN  1.0  NaN
0.611225  NaN  1.0  NaN
0.631469  NaN  1.0  NaN
0.691806  1.0  NaN  NaN
0.694385  1.0  NaN  NaN
0.721943  NaN  1.0  NaN
0.758343  1.0  NaN  NaN
0.774498  1.0  NaN  NaN
0.782935  NaN  1.0  NaN
0.904392  NaN  1.0  NaN
0.955380  NaN  1.0  NaN
0.960367  1.0  NaN  NaN
0.961149  1.0  NaN  NaN
0.975811  1.0  NaN  NaN
1.000000  NaN  NaN  3.0
2.000000  NaN  NaN  4.0
3.000000  NaN  NaN  2.0
4.000000  NaN  NaN  3.0
5.000000  NaN  NaN  3.0

In [ ]:

sopya['new']

2021-01-01    4
2021-01-02    4
2021-01-03    2
2021-01-04    4
2021-01-05    1
2021-01-06    3
2021-01-07    2
2021-01-08    1
2021-01-09    3
2021-01-10    5
2021-01-11    5
2021-01-12    5
2021-01-13    2
2021-01-14    1
2021-01-15    2
Freq: D, Name: new, dtype: int64

In [ ]:
sopya[[0,'new']]

                   0  new
2021-01-01  0.363405    4
2021-01-02  0.961149    4
2021-01-03  0.960367    2
2021-01-04  0.220745    4
2021-01-05  0.260819    1
2021-01-06  0.691806    3
2021-01-07  0.975811    2
2021-01-08  0.036215    1
2021-01-09  0.774498    3
2021-01-10  0.758343    5
2021-01-11  0.441358    5
2021-01-12  0.301975    5
2021-01-13  0.079139    2
2021-01-14  0.694385    1
2021-01-15  0.360349    2

In [ ]:
sopya.columns=['aaa','bbb','ccc']

In [ ]:
sopya

                 aaa       bbb  ccc
2021-01-01  0.363405  0.055737    4
2021-01-02  0.961149  0.904392    4
2021-01-03  0.960367  0.535666    2
2021-01-04  0.220745  0.355561    4
2021-01-05  0.260819  0.014382    1
2021-01-06  0.691806  0.472517    3
2021-01-07  0.975811  0.721943    2
2021-01-08  0.036215  0.305679    1
2021-01-09  0.774498  0.611225    3
2021-01-10  0.758343  0.631469    5
2021-01-11  0.441358  0.782935    5
2021-01-12  0.301975  0.278791    5
2021-01-13  0.079139  0.955380    2
2021-01-14  0.694385  0.296592    1
2021-01-15  0.360349  0.371098    2

In [ ]:
sopya.rename(columns={'aaa':'zzz'},inplace=True)

In [ ]:
sopya.rename(columns={'bbb':'yyy'})

                 zzz       yyy  ccc
2021-01-01  0.363405  0.055737    4
2021-01-02  0.961149  0.904392    4
2021-01-03  0.960367  0.535666    2
2021-01-04  0.220745  0.355561    4
2021-01-05  0.260819  0.014382    1
2021-01-06  0.691806  0.472517    3
2021-01-07  0.975811  0.721943    2
2021-01-08  0.036215  0.305679    1
2021-01-09  0.774498  0.611225    3
2021-01-10  0.758343  0.631469    5
2021-01-11  0.441358  0.782935    5
2021-01-12  0.301975  0.278791    5
2021-01-13  0.079139  0.955380    2
2021-01-14  0.694385  0.296592    1
2021-01-15  0.360349  0.371098    2

In [ ]:
sopya.isnull()

              zzz    bbb    ccc
2021-01-01  False  False  False
2021-01-02  False  False  False
2021-01-03  False  False  False
2021-01-04  False  False  False
2021-01-05  False  False  False
2021-01-06  False  False  False
2021-01-07  False  False  False
2021-01-08  False  False  False
2021-01-09  False  False  False
2021-01-10  False  False  False
2021-01-11  False  False  False
2021-01-12  False  False  False
2021-01-13  False  False  False
2021-01-14  False  False  False
2021-01-15  False  False  False

In [ ]:
sopya.notnull()

             zzz   bbb   ccc
2021-01-01  True  True  True
2021-01-02  True  True  True
2021-01-03  True  True  True
2021-01-04  True  True  True
2021-01-05  True  True  True
2021-01-06  True  True  True
2021-01-07  True  True  True
2021-01-08  True  True  True
2021-01-09  True  True  True
2021-01-10  True  True  True
2021-01-11  True  True  True
2021-01-12  True  True  True
2021-01-13  True  True  True
2021-01-14  True  True  True
2021-01-15  True  True  True

In [ ]:
sopya.fillna(sopya.median())

                 zzz       bbb  ccc
2021-01-01  0.363405  0.055737    4
2021-01-02  0.961149  0.904392    4
2021-01-03  0.960367  0.535666    2
2021-01-04  0.220745  0.355561    4
2021-01-05  0.260819  0.014382    1
2021-01-06  0.691806  0.472517    3
2021-01-07  0.975811  0.721943    2
2021-01-08  0.036215  0.305679    1
2021-01-09  0.774498  0.611225    3
2021-01-10  0.758343  0.631469    5
2021-01-11  0.441358  0.782935    5
2021-01-12  0.301975  0.278791    5
2021-01-13  0.079139  0.955380    2
2021-01-14  0.694385  0.296592    1
2021-01-15  0.360349  0.371098    2

In [ ]:
type(sopya)

pandas.core.frame.DataFrame

In [ ]:
sopya.astype(int)

            zzz  bbb  ccc
2021-01-01    0    0    4
2021-01-02    0    0    4
2021-01-03    0    0    2
2021-01-04    0    0    4
2021-01-05    0    0    1
2021-01-06    0    0    3
2021-01-07    0    0    2
2021-01-08    0    0    1
2021-01-09    0    0    3
2021-01-10    0    0    5
2021-01-11    0    0    5
2021-01-12    0    0    5
2021-01-13    0    0    2
2021-01-14    0    0    1
2021-01-15    0    0    2

In [ ]:
type(sopya)

pandas.core.frame.DataFrame

In [ ]:
sopya.replace('one',1,inplace=True)
sopya

                 zzz       bbb  ccc
2021-01-01  0.363405  0.055737    4
2021-01-02  0.961149  0.904392    4
2021-01-03  0.960367  0.535666    2
2021-01-04  0.220745  0.355561    4
2021-01-05  0.260819  0.014382    1
2021-01-06  0.691806  0.472517    3
2021-01-07  0.975811  0.721943    2
2021-01-08  0.036215  0.305679    1
2021-01-09  0.774498  0.611225    3
2021-01-10  0.758343  0.631469    5
2021-01-11  0.441358  0.782935    5
2021-01-12  0.301975  0.278791    5
2021-01-13  0.079139  0.955380    2
2021-01-14  0.694385  0.296592    1
2021-01-15  0.360349  0.371098    2

In [ ]:
sopya.replace([5,'five'],[1,'one'])

                 zzz       bbb  ccc
2021-01-01  0.363405  0.055737    4
2021-01-02  0.961149  0.904392    4
2021-01-03  0.960367  0.535666    2
2021-01-04  0.220745  0.355561    4
2021-01-05  0.260819  0.014382    1
2021-01-06  0.691806  0.472517    3
2021-01-07  0.975811  0.721943    2
2021-01-08  0.036215  0.305679    1
2021-01-09  0.774498  0.611225    3
2021-01-10  0.758343  0.631469    1
2021-01-11  0.441358  0.782935    1
2021-01-12  0.301975  0.278791    1
2021-01-13  0.079139  0.955380    2
2021-01-14  0.694385  0.296592    1
2021-01-15  0.360349  0.371098    2

In [ ]:
sopya.append([155])
sopya.append('2021-01-15 00:00:00','bbb',[6398])

TypeError: ignored

In [ ]:
prashya=pd.DataFrame({'zzz':6398,'bbb':142},index=[1])
prashya

    zzz  bbb
1  6398  142

In [ ]:
type(prashya['bbb'])

pandas.core.series.Series

In [ ]:
pprashya=prashya.astype(int)

In [ ]:
new_sopya=sopya.append(pprashya)

In [ ]:
new_sopya[new_sopya['bbb']>5]

      zzz    bbb  ccc
1  6398.0  142.0  NaN

In [ ]:
new_sopya[(new_sopya['ccc']>1)&(new_sopya['ccc']<3)]

                          zzz       bbb  ccc
2021-01-03 00:00:00  0.960367  0.535666  2.0
2021-01-07 00:00:00  0.975811  0.721943  2.0
2021-01-13 00:00:00  0.079139  0.955380  2.0
2021-01-15 00:00:00  0.360349  0.371098  2.0

In [ ]:
new_sopya.sort_values(['ccc','zzz','bbb'])

                             zzz         bbb  ccc
2021-01-08 00:00:00     0.036215    0.305679  1.0
2021-01-05 00:00:00     0.260819    0.014382  1.0
2021-01-14 00:00:00     0.694385    0.296592  1.0
2021-01-13 00:00:00     0.079139    0.955380  2.0
2021-01-15 00:00:00     0.360349    0.371098  2.0
2021-01-03 00:00:00     0.960367    0.535666  2.0
2021-01-07 00:00:00     0.975811    0.721943  2.0
2021-01-06 00:00:00     0.691806    0.472517  3.0
2021-01-09 00:00:00     0.774498    0.611225  3.0
2021-01-04 00:00:00     0.220745    0.355561  4.0
2021-01-01 00:00:00     0.363405    0.055737  4.0
2021-01-02 00:00:00     0.961149    0.904392  4.0
2021-01-12 00:00:00     0.301975    0.278791  5.0
2021-01-11 00:00:00     0.441358    0.782935  5.0
2021-01-10 00:00:00     0.758343    0.631469  5.0
1                    6398.000000  142.000000  NaN

In [ ]:
sopya.sort_values('ccc',ascending=False)

                 zzz       bbb  ccc
2021-01-10  0.758343  0.631469    5
2021-01-11  0.441358  0.782935    5
2021-01-12  0.301975  0.278791    5
2021-01-01  0.363405  0.055737    4
2021-01-02  0.961149  0.904392    4
2021-01-04  0.220745  0.355561    4
2021-01-06  0.691806  0.472517    3
2021-01-09  0.774498  0.611225    3
2021-01-03  0.960367  0.535666    2
2021-01-07  0.975811  0.721943    2
2021-01-13  0.079139  0.955380    2
2021-01-15  0.360349  0.371098    2
2021-01-05  0.260819  0.014382    1
2021-01-08  0.036215  0.305679    1
2021-01-14  0.694385  0.296592    1

In [ ]:
new_sopya.sort_values(['ccc','zzz'],ascending=[False,True])

                             zzz         bbb  ccc
2021-01-12 00:00:00     0.301975    0.278791  5.0
2021-01-11 00:00:00     0.441358    0.782935  5.0
2021-01-10 00:00:00     0.758343    0.631469  5.0
2021-01-04 00:00:00     0.220745    0.355561  4.0
2021-01-01 00:00:00     0.363405    0.055737  4.0
2021-01-02 00:00:00     0.961149    0.904392  4.0
2021-01-06 00:00:00     0.691806    0.472517  3.0
2021-01-09 00:00:00     0.774498    0.611225  3.0
2021-01-13 00:00:00     0.079139    0.955380  2.0
2021-01-15 00:00:00     0.360349    0.371098  2.0
2021-01-03 00:00:00     0.960367    0.535666  2.0
2021-01-07 00:00:00     0.975811    0.721943  2.0
2021-01-08 00:00:00     0.036215    0.305679  1.0
2021-01-05 00:00:00     0.260819    0.014382  1.0
2021-01-14 00:00:00     0.694385    0.296592  1.0
1                    6398.000000  142.000000  NaN

In [ ]:
dada=new_sopya.groupby('ccc')
dada

In [ ]:
dada

In [ ]:
new_sopya.groupby(['zzz','ccc'])

In [ ]:
new_sopya.groupby('mond')

KeyError: ignored

In [ ]:
time_table['newday']=[123,32,434,5,434,445,234]
time_table

,,monday,tuesday,wednsday,friday,saturday,new index,newday
12,144,marathi,hindi,marathi,marathi,marathi,ek,123
13,169,hindi,off,hindi,hindi,hindi,done,32
14,196,geography,english,geography,geography,geography,teen,434
15,225,history,political science,history,history,history,chaar,5
16,256,mathematics,marathi,mathematics,mathematics,mathematics,paach,434
17,289,english,pt,english,english,english,saha,445
18,324,sport,off,sport,sport,sport,saat,234

In [ ]:
grouped=time_table.groupby('monday')['newday']

In [ ]:
grouped.first()

monday
english        445
geography      434
hindi           32
history          5
marathi        123
mathematics    434
sport          234
Name: newday, dtype: int64

In [ ]:
umesh=pd.DataFrame({'payment':[12000,10000,15000,17000,20000,25000],'incentive':[100,200,300,400,500,600]},index=['harshad','niket','hitesh','shubham','sopya','prashant'])
umesh

          payment  incentive
harshad     12000        100
niket       10000        200
hitesh      15000        300
shubham     17000        400
sopya       20000        500
prashant    25000        600

In [ ]:
umesh['holidayscuts']=[10,20,30,40,50,60]
umesh

          payment  incentive  holidayscuts
harshad     12000        100            10
niket       10000        200            20
hitesh      15000        300            30
shubham     17000        400            40
sopya       20000        500            50
prashant    25000        600            60

In [ ]:
new_sopya

                             zzz         bbb  ccc
2021-01-01 00:00:00     0.363405    0.055737  4.0
2021-01-02 00:00:00     0.961149    0.904392  4.0
2021-01-03 00:00:00     0.960367    0.535666  2.0
2021-01-04 00:00:00     0.220745    0.355561  4.0
2021-01-05 00:00:00     0.260819    0.014382  1.0
2021-01-06 00:00:00     0.691806    0.472517  3.0
2021-01-07 00:00:00     0.975811    0.721943  2.0
2021-01-08 00:00:00     0.036215    0.305679  1.0
2021-01-09 00:00:00     0.774498    0.611225  3.0
2021-01-10 00:00:00     0.758343    0.631469  5.0
2021-01-11 00:00:00     0.441358    0.782935  5.0
2021-01-12 00:00:00     0.301975    0.278791  5.0
2021-01-13 00:00:00     0.079139    0.955380  2.0
2021-01-14 00:00:00     0.694385    0.296592  1.0
2021-01-15 00:00:00     0.360349    0.371098  2.0
1                    6398.000000  142.000000  NaN

In [ ]:
new_sopya.pivot_table(index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16],values=['ccc','bbb'],aggfunc=mean('values'))

NameError: ignored

In [ ]:
umesh

          payment  incentive  holidayscuts
harshad     12000        100            10
niket       10000        200            20
hitesh      15000        300            30
shubham     17000        400            40
sopya       20000        500            50
prashant    25000        600            60

In [ ]:
umesh.groupby('payment').agg(np.mean)

         incentive  holidayscuts
payment
10000        200.0          20.0
12000        100.0          10.0
15000        300.0          30.0
17000        400.0          40.0
20000        500.0          50.0
25000        600.0          60.0

In [ ]:
umesh.apply(np.mean)

payment         16500.0
incentive         350.0
holidayscuts       35.0
dtype: float64

In [ ]:
umesh.apply(np.max)

payment         25000
incentive         600
holidayscuts       60
dtype: int64

In [ ]:
umesh.apply(np.mean,axis=1)

harshad     4036.666667
niket       3406.666667
hitesh      5110.000000
shubham     5813.333333
sopya       6850.000000
prashant    8553.333333
dtype: float64

In [91]:
umesh['payment'].sum()

99000

In [ ]:
ronit=[12000,10000,15000,17000,20000,25000]
total=0
for ele in range(0,len(ronit)):
  total = total + ronit[ele]
print(total)

99000

In [ ]:
umesh

          payment  incentive  holidayscuts
harshad     12000        100            10
niket       10000        200            20
hitesh      15000        300            30
shubham     17000        400            40
sopya       20000        500            50
prashant    25000        600            60

In [ ]:
umesh.corr()

               payment  incentive  holidayscuts
payment       1.000000   0.948205      0.948205
incentive     0.948205   1.000000      1.000000
holidayscuts  0.948205   1.000000      1.000000