<a href="https://colab.research.google.com/github/harshadsavle/practice/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
niket=pd.DataFrame({'2018':['95','100','105','110','115'],'2019':['58','62','66','70','78']},index=['gandu','lawdya','chutya','jhatu','madarchod'])

In [4]:
niket

          2018 2019
gandu       95   58
lawdya     100   62
chutya     105   66
jhatu      110   70
madarchod  115   78

In [5]:
time_table=pd.DataFrame({'monday':['marathi','hindi','geography','history','mathematics','english','sport'],'tuesday':['hindi','off','english','political science','marathi','pt','off'],'wednsday':['marathi','hindi','geography','history','mathematics','english','sport'],'friday':['marathi','hindi','geography','history','mathematics','english','sport'],'saturday':['marathi','hindi','geography','history','mathematics','english','sport']},index=['1','2','3','4','5','6','7'])

In [6]:
time_table

        monday            tuesday     wednsday       friday     saturday
1      marathi              hindi      marathi      marathi      marathi
2        hindi                off        hindi        hindi        hindi
3    geography            english    geography    geography    geography
4      history  political science      history      history      history
5  mathematics            marathi  mathematics  mathematics  mathematics
6      english                 pt      english      english      english
7        sport                off        sport        sport        sport

In [7]:
time_table.set_index('monday')

                       tuesday     wednsday       friday     saturday
monday
marathi                  hindi      marathi      marathi      marathi
hindi                      off        hindi        hindi        hindi
geography              english    geography    geography    geography
history      political science      history      history      history
mathematics            marathi  mathematics  mathematics  mathematics
english                     pt      english      english      english
sport                      off        sport        sport        sport

In [8]:
new=pd.DataFrame(time_table,index=['ek','done','teen','chaar','paach','saha','saat'])
new

      monday tuesday wednsday friday saturday
ek       NaN     NaN      NaN    NaN      NaN
done     NaN     NaN      NaN    NaN      NaN
teen     NaN     NaN      NaN    NaN      NaN
chaar    NaN     NaN      NaN    NaN      NaN
paach    NaN     NaN      NaN    NaN      NaN
saha     NaN     NaN      NaN    NaN      NaN
saat     NaN     NaN      NaN    NaN      NaN

In [9]:
time_table['new index']=['ek','done','teen','chaar','paach','saha','saat']
time_table

,monday,tuesday,wednsday,friday,saturday,new index
1,marathi,hindi,marathi,marathi,marathi,ek
2,hindi,off,hindi,hindi,hindi,done
3,geography,english,geography,geography,geography,teen
4,history,political science,history,history,history,chaar
5,mathematics,marathi,mathematics,mathematics,mathematics,paach
6,english,pt,english,english,english,saha
7,sport,off,sport,sport,sport,saat

In [10]:
time_table.set_index(['new index'])

,monday,tuesday,wednsday,friday,saturday
new index,,,,,
ek,marathi,hindi,marathi,marathi,marathi
done,hindi,off,hindi,hindi,hindi
teen,geography,english,geography,geography,geography
chaar,history,political science,history,history,history
paach,mathematics,marathi,mathematics,mathematics,mathematics
saha,english,pt,english,english,english
saat,sport,off,sport,sport,sport

In [11]:
s=pd.Series([12,13,14,15,16,17,18])
time_table.set_index([s,s**2],inplace=True)
time_table

,,monday,tuesday,wednsday,friday,saturday,new index
12,144,marathi,hindi,marathi,marathi,marathi,ek
13,169,hindi,off,hindi,hindi,hindi,done
14,196,geography,english,geography,geography,geography,teen
15,225,history,political science,history,history,history,chaar
16,256,mathematics,marathi,mathematics,mathematics,mathematics,paach
17,289,english,pt,english,english,english,saha
18,324,sport,off,sport,sport,sport,saat

In [12]:
sopya=pd.DataFrame(np.random.rand(15,2))
# pd.DataFrame(np.random.rand(20,5))
sopya

           0         1
0   0.347805  0.210506
1   0.970224  0.526536
2   0.223042  0.819720
3   0.433570  0.270234
4   0.424722  0.721577
5   0.647865  0.695086
6   0.076325  0.782031
7   0.574382  0.084877
8   0.719048  0.215980
9   0.496025  0.468794
10  0.242121  0.129815
11  0.575770  0.384042
12  0.960356  0.479309
13  0.194612  0.426291
14  0.549503  0.403855

In [13]:
sopya

           0         1
0   0.347805  0.210506
1   0.970224  0.526536
2   0.223042  0.819720
3   0.433570  0.270234
4   0.424722  0.721577
5   0.647865  0.695086
6   0.076325  0.782031
7   0.574382  0.084877
8   0.719048  0.215980
9   0.496025  0.468794
10  0.242121  0.129815
11  0.575770  0.384042
12  0.960356  0.479309
13  0.194612  0.426291
14  0.549503  0.403855

In [69]:
sopya['new']=np.random.randint(1, 6, sopya.shape[0])
# df1['new'] = np.random.randint(1, 6, df1.shape[0])

In [70]:
sopya.value_counts(dropna=False)

zzz       bbb       ccc  new
0.076325  0.782031  4    5      1
0.194612  0.426291  4    3      1
0.223042  0.819720  4    2      1
0.242121  0.129815  1    1      1
0.347805  0.210506  4    4      1
0.424722  0.721577  3    4      1
0.433570  0.270234  1    5      1
0.496025  0.468794  2    5      1
0.549503  0.403855  5    4      1
0.574382  0.084877  1    4      1
0.575770  0.384042  2    5      1
0.647865  0.695086  3    4      1
0.719048  0.215980  2    4      1
0.960356  0.479309  4    2      1
0.970224  0.526536  2    3      1
dtype: int64

In [18]:
sopya.apply(pd.Series.value_counts)

            0    1  new
0.076325  1.0  NaN  NaN
0.084877  NaN  1.0  NaN
0.129815  NaN  1.0  NaN
0.194612  1.0  NaN  NaN
0.210506  NaN  1.0  NaN
0.215980  NaN  1.0  NaN
0.223042  1.0  NaN  NaN
0.242121  1.0  NaN  NaN
0.270234  NaN  1.0  NaN
0.347805  1.0  NaN  NaN
0.384042  NaN  1.0  NaN
0.403855  NaN  1.0  NaN
0.424722  1.0  NaN  NaN
0.426291  NaN  1.0  NaN
0.433570  1.0  NaN  NaN
0.468794  NaN  1.0  NaN
0.479309  NaN  1.0  NaN
0.496025  1.0  NaN  NaN
0.526536  NaN  1.0  NaN
0.549503  1.0  NaN  NaN
0.574382  1.0  NaN  NaN
0.575770  1.0  NaN  NaN
0.647865  1.0  NaN  NaN
0.695086  NaN  1.0  NaN
0.719048  1.0  NaN  NaN
0.721577  NaN  1.0  NaN
0.782031  NaN  1.0  NaN
0.819720  NaN  1.0  NaN
0.960356  1.0  NaN  NaN
0.970224  1.0  NaN  NaN
1.000000  NaN  NaN  3.0
2.000000  NaN  NaN  4.0
3.000000  NaN  NaN  2.0
4.000000  NaN  NaN  5.0
5.000000  NaN  NaN  1.0

In [20]:
sopya[[0,'new']]

                   0  new
2021-01-01  0.347805    4
2021-01-02  0.970224    2
2021-01-03  0.223042    4
2021-01-04  0.433570    1
2021-01-05  0.424722    3
2021-01-06  0.647865    3
2021-01-07  0.076325    4
2021-01-08  0.574382    1
2021-01-09  0.719048    2
2021-01-10  0.496025    2
2021-01-11  0.242121    1
2021-01-12  0.575770    2
2021-01-13  0.960356    4
2021-01-14  0.194612    4
2021-01-15  0.549503    5

In [22]:
sopya

                 aaa       bbb  ccc
2021-01-01  0.347805  0.210506    4
2021-01-02  0.970224  0.526536    2
2021-01-03  0.223042  0.819720    4
2021-01-04  0.433570  0.270234    1
2021-01-05  0.424722  0.721577    3
2021-01-06  0.647865  0.695086    3
2021-01-07  0.076325  0.782031    4
2021-01-08  0.574382  0.084877    1
2021-01-09  0.719048  0.215980    2
2021-01-10  0.496025  0.468794    2
2021-01-11  0.242121  0.129815    1
2021-01-12  0.575770  0.384042    2
2021-01-13  0.960356  0.479309    4
2021-01-14  0.194612  0.426291    4
2021-01-15  0.549503  0.403855    5

In [72]:
sopya.rename(columns={'aaa':'zzz'},inplace=True)


sopya.rename(columns={'ccc':'dadu'},inplace=True)

In [24]:
sopya.rename(columns={'bbb':'yyy'})

                 zzz       yyy  ccc
2021-01-01  0.347805  0.210506    4
2021-01-02  0.970224  0.526536    2
2021-01-03  0.223042  0.819720    4
2021-01-04  0.433570  0.270234    1
2021-01-05  0.424722  0.721577    3
2021-01-06  0.647865  0.695086    3
2021-01-07  0.076325  0.782031    4
2021-01-08  0.574382  0.084877    1
2021-01-09  0.719048  0.215980    2
2021-01-10  0.496025  0.468794    2
2021-01-11  0.242121  0.129815    1
2021-01-12  0.575770  0.384042    2
2021-01-13  0.960356  0.479309    4
2021-01-14  0.194612  0.426291    4
2021-01-15  0.549503  0.403855    5

In [ ]:
p

In [74]:
prashya=sopya.copy()

In [83]:
prashya.set_axis(['aa','ba','ca','da'],axis=1,inplace=True)
prashya

                  aa        ba  ca  da
2021-01-01  0.347805  0.210506   4   4
2021-01-02  0.970224  0.526536   2   3
2021-01-03  0.223042  0.819720   4   2
2021-01-04  0.433570  0.270234   1   5
2021-01-05  0.424722  0.721577   3   4
2021-01-06  0.647865  0.695086   3   4
2021-01-07  0.076325  0.782031   4   5
2021-01-08  0.574382  0.084877   1   4
2021-01-09  0.719048  0.215980   2   4
2021-01-10  0.496025  0.468794   2   5
2021-01-11  0.242121  0.129815   1   1
2021-01-12  0.575770  0.384042   2   5
2021-01-13  0.960356  0.479309   4   2
2021-01-14  0.194612  0.426291   4   3
2021-01-15  0.549503  0.403855   5   4

In [25]:
sopya.isnull()

              zzz    bbb    ccc
2021-01-01  False  False  False
2021-01-02  False  False  False
2021-01-03  False  False  False
2021-01-04  False  False  False
2021-01-05  False  False  False
2021-01-06  False  False  False
2021-01-07  False  False  False
2021-01-08  False  False  False
2021-01-09  False  False  False
2021-01-10  False  False  False
2021-01-11  False  False  False
2021-01-12  False  False  False
2021-01-13  False  False  False
2021-01-14  False  False  False
2021-01-15  False  False  False

In [26]:
sopya.notnull()

             zzz   bbb   ccc
2021-01-01  True  True  True
2021-01-02  True  True  True
2021-01-03  True  True  True
2021-01-04  True  True  True
2021-01-05  True  True  True
2021-01-06  True  True  True
2021-01-07  True  True  True
2021-01-08  True  True  True
2021-01-09  True  True  True
2021-01-10  True  True  True
2021-01-11  True  True  True
2021-01-12  True  True  True
2021-01-13  True  True  True
2021-01-14  True  True  True
2021-01-15  True  True  True

In [27]:
sopya.fillna(sopya.median())

                 zzz       bbb  ccc
2021-01-01  0.347805  0.210506    4
2021-01-02  0.970224  0.526536    2
2021-01-03  0.223042  0.819720    4
2021-01-04  0.433570  0.270234    1
2021-01-05  0.424722  0.721577    3
2021-01-06  0.647865  0.695086    3
2021-01-07  0.076325  0.782031    4
2021-01-08  0.574382  0.084877    1
2021-01-09  0.719048  0.215980    2
2021-01-10  0.496025  0.468794    2
2021-01-11  0.242121  0.129815    1
2021-01-12  0.575770  0.384042    2
2021-01-13  0.960356  0.479309    4
2021-01-14  0.194612  0.426291    4
2021-01-15  0.549503  0.403855    5

In [ ]:
type(sopya)

In [29]:
sopya.astype(int)

            zzz  bbb  ccc
2021-01-01    0    0    4
2021-01-02    0    0    2
2021-01-03    0    0    4
2021-01-04    0    0    1
2021-01-05    0    0    3
2021-01-06    0    0    3
2021-01-07    0    0    4
2021-01-08    0    0    1
2021-01-09    0    0    2
2021-01-10    0    0    2
2021-01-11    0    0    1
2021-01-12    0    0    2
2021-01-13    0    0    4
2021-01-14    0    0    4
2021-01-15    0    0    5

In [ ]:
type(sopya)

In [31]:
sopya.replace('one',1,inplace=True)
sopya

                 zzz       bbb  ccc
2021-01-01  0.347805  0.210506    4
2021-01-02  0.970224  0.526536    2
2021-01-03  0.223042  0.819720    4
2021-01-04  0.433570  0.270234    1
2021-01-05  0.424722  0.721577    3
2021-01-06  0.647865  0.695086    3
2021-01-07  0.076325  0.782031    4
2021-01-08  0.574382  0.084877    1
2021-01-09  0.719048  0.215980    2
2021-01-10  0.496025  0.468794    2
2021-01-11  0.242121  0.129815    1
2021-01-12  0.575770  0.384042    2
2021-01-13  0.960356  0.479309    4
2021-01-14  0.194612  0.426291    4
2021-01-15  0.549503  0.403855    5

In [32]:
sopya.replace([5,'five'],[1,'one'])

                 zzz       bbb  ccc
2021-01-01  0.347805  0.210506    4
2021-01-02  0.970224  0.526536    2
2021-01-03  0.223042  0.819720    4
2021-01-04  0.433570  0.270234    1
2021-01-05  0.424722  0.721577    3
2021-01-06  0.647865  0.695086    3
2021-01-07  0.076325  0.782031    4
2021-01-08  0.574382  0.084877    1
2021-01-09  0.719048  0.215980    2
2021-01-10  0.496025  0.468794    2
2021-01-11  0.242121  0.129815    1
2021-01-12  0.575770  0.384042    2
2021-01-13  0.960356  0.479309    4
2021-01-14  0.194612  0.426291    4
2021-01-15  0.549503  0.403855    1

In [36]:
sopya.append([155])
sopya.append('2021-01-15 00:00:00','bbb',[6398])

TypeError: ignored

In [37]:
prashya=pd.DataFrame({'zzz':6398,'bbb':142},index=[1])
prashya

    zzz  bbb
1  6398  142

In [38]:
type(prashya['bbb'])

pandas.core.series.Series

In [39]:
pprashya=prashya.astype(int)

In [40]:
new_sopya=sopya.append(pprashya)

In [41]:
new_sopya[new_sopya['bbb']>5]

      zzz    bbb  ccc
1  6398.0  142.0  NaN

In [42]:
new_sopya[(new_sopya['ccc']>1)&(new_sopya['ccc']<3)]

                          zzz       bbb  ccc
2021-01-02 00:00:00  0.970224  0.526536  2.0
2021-01-09 00:00:00  0.719048  0.215980  2.0
2021-01-10 00:00:00  0.496025  0.468794  2.0
2021-01-12 00:00:00  0.575770  0.384042  2.0

In [43]:
new_sopya.sort_values(['ccc','zzz','bbb'])

                             zzz         bbb  ccc
2021-01-11 00:00:00     0.242121    0.129815  1.0
2021-01-04 00:00:00     0.433570    0.270234  1.0
2021-01-08 00:00:00     0.574382    0.084877  1.0
2021-01-10 00:00:00     0.496025    0.468794  2.0
2021-01-12 00:00:00     0.575770    0.384042  2.0
2021-01-09 00:00:00     0.719048    0.215980  2.0
2021-01-02 00:00:00     0.970224    0.526536  2.0
2021-01-05 00:00:00     0.424722    0.721577  3.0
2021-01-06 00:00:00     0.647865    0.695086  3.0
2021-01-07 00:00:00     0.076325    0.782031  4.0
2021-01-14 00:00:00     0.194612    0.426291  4.0
2021-01-03 00:00:00     0.223042    0.819720  4.0
2021-01-01 00:00:00     0.347805    0.210506  4.0
2021-01-13 00:00:00     0.960356    0.479309  4.0
2021-01-15 00:00:00     0.549503    0.403855  5.0
1                    6398.000000  142.000000  NaN

In [44]:
sopya.sort_values('ccc',ascending=False)

                 zzz       bbb  ccc
2021-01-15  0.549503  0.403855    5
2021-01-01  0.347805  0.210506    4
2021-01-03  0.223042  0.819720    4
2021-01-07  0.076325  0.782031    4
2021-01-13  0.960356  0.479309    4
2021-01-14  0.194612  0.426291    4
2021-01-05  0.424722  0.721577    3
2021-01-06  0.647865  0.695086    3
2021-01-02  0.970224  0.526536    2
2021-01-09  0.719048  0.215980    2
2021-01-10  0.496025  0.468794    2
2021-01-12  0.575770  0.384042    2
2021-01-04  0.433570  0.270234    1
2021-01-08  0.574382  0.084877    1
2021-01-11  0.242121  0.129815    1

In [45]:
new_sopya.sort_values(['ccc','zzz'],ascending=[False,True])

                             zzz         bbb  ccc
2021-01-15 00:00:00     0.549503    0.403855  5.0
2021-01-07 00:00:00     0.076325    0.782031  4.0
2021-01-14 00:00:00     0.194612    0.426291  4.0
2021-01-03 00:00:00     0.223042    0.819720  4.0
2021-01-01 00:00:00     0.347805    0.210506  4.0
2021-01-13 00:00:00     0.960356    0.479309  4.0
2021-01-05 00:00:00     0.424722    0.721577  3.0
2021-01-06 00:00:00     0.647865    0.695086  3.0
2021-01-10 00:00:00     0.496025    0.468794  2.0
2021-01-12 00:00:00     0.575770    0.384042  2.0
2021-01-09 00:00:00     0.719048    0.215980  2.0
2021-01-02 00:00:00     0.970224    0.526536  2.0
2021-01-11 00:00:00     0.242121    0.129815  1.0
2021-01-04 00:00:00     0.433570    0.270234  1.0
2021-01-08 00:00:00     0.574382    0.084877  1.0
1                    6398.000000  142.000000  NaN

In [46]:
dada=new_sopya.groupby('ccc')
dada

In [47]:
dada

In [48]:
new_sopya.groupby(['zzz','ccc'])

In [50]:
new_sopya.groupby('mond')

KeyError: ignored

In [51]:
time_table['newday']=[123,32,434,5,434,445,234]
time_table

,,monday,tuesday,wednsday,friday,saturday,new index,newday
12,144,marathi,hindi,marathi,marathi,marathi,ek,123
13,169,hindi,off,hindi,hindi,hindi,done,32
14,196,geography,english,geography,geography,geography,teen,434
15,225,history,political science,history,history,history,chaar,5
16,256,mathematics,marathi,mathematics,mathematics,mathematics,paach,434
17,289,english,pt,english,english,english,saha,445
18,324,sport,off,sport,sport,sport,saat,234

In [52]:
grouped=time_table.groupby('monday')['newday']

In [53]:
grouped.first()

monday
english        445
geography      434
hindi           32
history          5
marathi        123
mathematics    434
sport          234
Name: newday, dtype: int64

In [54]:
umesh=pd.DataFrame({'payment':[12000,10000,15000,17000,20000,25000],'incentive':[100,200,300,400,500,600]},index=['harshad','niket','hitesh','shubham','sopya','prashant'])
umesh

          payment  incentive
harshad     12000        100
niket       10000        200
hitesh      15000        300
shubham     17000        400
sopya       20000        500
prashant    25000        600

In [55]:
umesh['holidayscuts']=[10,20,30,40,50,60]
umesh

          payment  incentive  holidayscuts
harshad     12000        100            10
niket       10000        200            20
hitesh      15000        300            30
shubham     17000        400            40
sopya       20000        500            50
prashant    25000        600            60

In [56]:
new_sopya

                             zzz         bbb  ccc
2021-01-01 00:00:00     0.347805    0.210506  4.0
2021-01-02 00:00:00     0.970224    0.526536  2.0
2021-01-03 00:00:00     0.223042    0.819720  4.0
2021-01-04 00:00:00     0.433570    0.270234  1.0
2021-01-05 00:00:00     0.424722    0.721577  3.0
2021-01-06 00:00:00     0.647865    0.695086  3.0
2021-01-07 00:00:00     0.076325    0.782031  4.0
2021-01-08 00:00:00     0.574382    0.084877  1.0
2021-01-09 00:00:00     0.719048    0.215980  2.0
2021-01-10 00:00:00     0.496025    0.468794  2.0
2021-01-11 00:00:00     0.242121    0.129815  1.0
2021-01-12 00:00:00     0.575770    0.384042  2.0
2021-01-13 00:00:00     0.960356    0.479309  4.0
2021-01-14 00:00:00     0.194612    0.426291  4.0
2021-01-15 00:00:00     0.549503    0.403855  5.0
1                    6398.000000  142.000000  NaN

In [68]:
new_sopya.pivot_table(index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16],values=['ccc','bbb'],aggfunc=mean('values'))

NameError: ignored

In [59]:
umesh

          payment  incentive  holidayscuts
harshad     12000        100            10
niket       10000        200            20
hitesh      15000        300            30
shubham     17000        400            40
sopya       20000        500            50
prashant    25000        600            60

In [60]:
umesh.groupby('payment').agg(np.mean)

         incentive  holidayscuts
payment
10000        200.0          20.0
12000        100.0          10.0
15000        300.0          30.0
17000        400.0          40.0
20000        500.0          50.0
25000        600.0          60.0

In [61]:
umesh.apply(np.mean)

payment         16500.0
incentive         350.0
holidayscuts       35.0
dtype: float64

In [62]:
umesh.apply(np.max)

payment         25000
incentive         600
holidayscuts       60
dtype: int64

In [63]:
umesh.apply(np.mean,axis=1)

harshad     4036.666667
niket       3406.666667
hitesh      5110.000000
shubham     5813.333333
sopya       6850.000000
prashant    8553.333333
dtype: float64

In [64]:
umesh['payment'].sum()

99000

In [65]:
ronit=[12000,10000,15000,17000,20000,25000]
total=0
for ele in range(0,len(ronit)):
  total = total + ronit[ele]
print(total)

99000

In [66]:
umesh

          payment  incentive  holidayscuts
harshad     12000        100            10
niket       10000        200            20
hitesh      15000        300            30
shubham     17000        400            40
sopya       20000        500            50
prashant    25000        600            60

In [67]:
umesh.corr()

               payment  incentive  holidayscuts
payment       1.000000   0.948205      0.948205
incentive     0.948205   1.000000      1.000000
holidayscuts  0.948205   1.000000      1.000000